---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main>
        <section>
            <p class="text-sm">
                I started my career as a Software Analyst Trainee at Aspire Systems in Chennai. 
            </p>
        </section>
    </main>
</Layout>
