---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main>
        <section>
            <p class="text-sm text-justify">
                I started my career in May 2019 as a <span class="font-bold">Software Analyst Trainee</span> at Aspire Systems in Chennai, where I was trained in .NET. I then continued to work for couple of products till Dec 2024 as a Senior Software Engineer. Currently I'm working at Mr. Cooper Group as a Senior Software Engineer in Chennai.
            </p>
        </section>
    </main>
</Layout>
