---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main>
        <section>
            <p class="text-sm text-justify mb-4">
                Hello. My name is <span class="font-semibold">Jeffrin Jerome</span> and I live in Nagercoil, India. I started my career in <span class="font-semibold">May 2019</span> as a <span class="font-semibold">Software Analyst Trainee</span> at <a href="https://www.aspiresys.com/" target="_blank" class="underline decoration-dashed underline-offset-4 font-semibold">Aspire Systems</a> in Chennai, where I was trained in .NET. I then continued to work for around 5.5 years till <span class="font-semibold">Dec 2024</span>, when I was a <span class="font-semibold">Module Leader</span>. Since Dec 2024, I'm working at <a href="https://www.mrcooper.com/" target="_blank" class="underline decoration-dashed underline-offset-4 font-semibold">Mr. Cooper Group</a> as a <span class="font-semibold">Senior Software Engineer.</span> 
            </p>

            <p class="text-sm text-justify mb-4">
                I finished schooling in my hometown, Nagercoil and completed my undergraduation in Electrical and Electronics Engineering at Kumaraguru College of Technology, Coimbatore. Even though I was in Electrical department, I would always spent time in coding different things for fun. I remember playing around with PHP, Angular and React Native trying to build few apps. Even though I never completed any of them, I enjoyed the process of learning and building. I also had a chance to work on few projects during my college days, which helped me to learn and grow.
            </p>
        </section>
    </main>
</Layout>
