<div class="text-sm">
    <div class="flex flex-row items-center gap-2 group">
        <div
            class="w-2 h-2 rounded-full bg-slate-600 transition-transform duration-300 group-hover:translate-x-1"
        >
        </div>
        <a href="/work" transition:name="link_work">Work</a>
    </div>
    <div class="flex flex-row items-center gap-2 group">
        <div
            class="w-2 h-2 rounded-full bg-slate-600 transition-transform duration-300 group-hover:translate-x-1"
        >
        </div>
        <a href="/tech" transition:name="link_tech">Tech I Use</a>
    </div>
    <div class="flex flex-row items-center gap-2 group">
        <div
            class="w-2 h-2 rounded-full bg-slate-600 transition-transform duration-300 group-hover:translate-x-1"
        >
        </div>
        <a href="/articles" transition:name="link_articles">Articles</a>
    </div>
    <div class="flex flex-row items-center gap-2 group">
        <div
            class="w-2 h-2 rounded-full bg-slate-600 transition-transform duration-300 group-hover:translate-x-1"
        >
        </div>
        <a href="/wallpapers" transition:name="link_wallpapers">Wallpapers</a>
    </div>
    <div class="flex flex-row items-center gap-2 group">
        <div
            class="w-2 h-2 rounded-full bg-slate-600 transition-transform duration-300 group-hover:translate-x-1"
        >
        </div>
        <a href="/photos" transition:name="link_photos">Photos</a>
    </div>
</div>
