---

---

<div
    class="prose
    prose-p:text-sm
  prose-h1:font-bold prose-h1:text-sm prose-h2:text-sm
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline"
>
    <slot />
</div>
